/*!
 I don't really need css for this, but did want to show how it would be part of the build process
*/

/* Local Variables:  */
/* mode: css           */
/* End:              */
$white: #fff;  

header{
  display: none;
}

h3:not(:first-child){
  margin-top: 20px;
}